@import url(https://themes.googleusercontent.com/fonts/css?kit=xTOoZr6X-i3kNg7pYrzMss5-x8zqu-667uHWljev_4A);

.lst-kix_list_14-1>li:before {
    content: "o  "
}

.lst-kix_list_14-3>li:before {
    content: "\0025cf   "
}

.lst-kix_list_14-0>li:before {
    content: "\0025cf   "
}

.lst-kix_list_14-4>li:before {
    content: "o  "
}

.lst-kix_list_14-5>li:before {
    content: "\0025aa   "
}

.lst-kix_list_14-7>li:before {
    content: "o  "
}

.lst-kix_list_14-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_9-3 {
    list-style-type: none
}

ul.lst-kix_list_9-4 {
    list-style-type: none
}

ul.lst-kix_list_9-1 {
    list-style-type: none
}

ul.lst-kix_list_9-2 {
    list-style-type: none
}

ul.lst-kix_list_9-7 {
    list-style-type: none
}

ul.lst-kix_list_9-8 {
    list-style-type: none
}

ul.lst-kix_list_9-5 {
    list-style-type: none
}

ul.lst-kix_list_9-6 {
    list-style-type: none
}

ul.lst-kix_list_9-0 {
    list-style-type: none
}

.lst-kix_list_14-2>li:before {
    content: "\0025aa   "
}

ul.lst-kix_list_17-1 {
    list-style-type: none
}

ul.lst-kix_list_17-0 {
    list-style-type: none
}

ul.lst-kix_list_17-8 {
    list-style-type: none
}

ul.lst-kix_list_17-7 {
    list-style-type: none
}

ul.lst-kix_list_17-6 {
    list-style-type: none
}

ul.lst-kix_list_17-5 {
    list-style-type: none
}

ul.lst-kix_list_17-4 {
    list-style-type: none
}

ul.lst-kix_list_17-3 {
    list-style-type: none
}

.lst-kix_list_14-8>li:before {
    content: "\0025aa   "
}

ul.lst-kix_list_17-2 {
    list-style-type: none
}

ol.lst-kix_list_10-4.start {
    counter-reset: lst-ctn-kix_list_10-4 0
}

.lst-kix_list_5-0>li:before {
    content: "\0025cf   "
}

.lst-kix_list_5-3>li:before {
    content: "\0025cf   "
}

.lst-kix_list_5-2>li:before {
    content: "\0025aa   "
}

.lst-kix_list_5-1>li:before {
    content: "o  "
}

.lst-kix_list_5-7>li:before {
    content: "o  "
}

ul.lst-kix_list_8-4 {
    list-style-type: none
}

ul.lst-kix_list_8-5 {
    list-style-type: none
}

.lst-kix_list_5-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_5-8>li:before {
    content: "\0025aa   "
}

ul.lst-kix_list_8-2 {
    list-style-type: none
}

ul.lst-kix_list_8-3 {
    list-style-type: none
}

ul.lst-kix_list_8-8 {
    list-style-type: none
}

ul.lst-kix_list_8-6 {
    list-style-type: none
}

ul.lst-kix_list_8-7 {
    list-style-type: none
}

.lst-kix_list_5-4>li:before {
    content: "o  "
}

.lst-kix_list_5-5>li:before {
    content: "\0025aa   "
}

ul.lst-kix_list_8-0 {
    list-style-type: none
}

ul.lst-kix_list_8-1 {
    list-style-type: none
}

ol.lst-kix_list_12-5.start {
    counter-reset: lst-ctn-kix_list_12-5 0
}

.lst-kix_list_6-1>li:before {
    content: " "
}

.lst-kix_list_6-3>li:before {
    content: " "
}

.lst-kix_list_6-0>li:before {
    content: "\0025cf   "
}

.lst-kix_list_6-4>li:before {
    content: " "
}

ul.lst-kix_list_16-2 {
    list-style-type: none
}

ul.lst-kix_list_16-1 {
    list-style-type: none
}

ul.lst-kix_list_16-0 {
    list-style-type: none
}

.lst-kix_list_6-2>li:before {
    content: " "
}

ul.lst-kix_list_16-8 {
    list-style-type: none
}

ul.lst-kix_list_16-7 {
    list-style-type: none
}

ul.lst-kix_list_16-6 {
    list-style-type: none
}

ul.lst-kix_list_16-5 {
    list-style-type: none
}

ul.lst-kix_list_16-4 {
    list-style-type: none
}

.lst-kix_list_6-8>li:before {
    content: " "
}

ul.lst-kix_list_16-3 {
    list-style-type: none
}

.lst-kix_list_6-5>li:before {
    content: " "
}

.lst-kix_list_6-7>li:before {
    content: " "
}

.lst-kix_list_6-6>li:before {
    content: " "
}

ol.lst-kix_list_10-6.start {
    counter-reset: lst-ctn-kix_list_10-6 0
}

.lst-kix_list_7-4>li:before {
    content: " "
}

.lst-kix_list_7-6>li:before {
    content: " "
}

.lst-kix_list_7-2>li:before {
    content: " "
}

.lst-kix_ovglwwt46svl-0>li:before {
    content: "\0025cf   "
}

.lst-kix_list_12-6>li {
    counter-increment: lst-ctn-kix_list_12-6
}

.lst-kix_list_13-7>li:before {
    content: "\0025cb   "
}

.lst-kix_list_7-8>li:before {
    content: " "
}

.lst-kix_ovglwwt46svl-8>li:before {
    content: "\0025a0   "
}

.lst-kix_list_15-5>li:before {
    content: "\0025aa   "
}

.lst-kix_ovglwwt46svl-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_4-1>li:before {
    content: " "
}

.lst-kix_list_15-7>li:before {
    content: "o  "
}

.lst-kix_list_4-3>li:before {
    content: " "
}

.lst-kix_list_4-5>li:before {
    content: " "
}

.lst-kix_ovglwwt46svl-2>li:before {
    content: "\0025a0   "
}

.lst-kix_list_10-5>li {
    counter-increment: lst-ctn-kix_list_10-5
}

.lst-kix_ovglwwt46svl-4>li:before {
    content: "\0025cb   "
}

.lst-kix_list_15-1>li:before {
    content: "o  "
}

.lst-kix_list_15-3>li:before {
    content: "\0025cf   "
}

.lst-kix_list_12-3>li:before {
    content: "" counter(lst-ctn-kix_list_12-3, decimal) ". "
}

.lst-kix_list_12-1>li:before {
    content: "" counter(lst-ctn-kix_list_12-1, decimal) ". "
}

.lst-kix_list_10-4>li {
    counter-increment: lst-ctn-kix_list_10-4
}

.lst-kix_list_13-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_18-0 {
    list-style-type: none
}

.lst-kix_list_13-5>li:before {
    content: "\0025a0   "
}

.lst-kix_list_12-5>li:before {
    content: "" counter(lst-ctn-kix_list_12-5, decimal) ". "
}

ul.lst-kix_list_18-8 {
    list-style-type: none
}

ul.lst-kix_list_18-7 {
    list-style-type: none
}

ul.lst-kix_list_18-6 {
    list-style-type: none
}

ol.lst-kix_list_12-2.start {
    counter-reset: lst-ctn-kix_list_12-2 0
}

ul.lst-kix_list_18-5 {
    list-style-type: none
}

.lst-kix_list_12-7>li:before {
    content: "" counter(lst-ctn-kix_list_12-7, decimal) ". "
}

ul.lst-kix_list_18-4 {
    list-style-type: none
}

ul.lst-kix_list_18-3 {
    list-style-type: none
}

ul.lst-kix_list_18-2 {
    list-style-type: none
}

ul.lst-kix_list_18-1 {
    list-style-type: none
}

.lst-kix_list_13-1>li:before {
    content: "\0025cb   "
}

.lst-kix_list_3-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_5-7 {
    list-style-type: none
}

ul.lst-kix_list_5-8 {
    list-style-type: none
}

ul.lst-kix_list_5-5 {
    list-style-type: none
}

ul.lst-kix_list_5-6 {
    list-style-type: none
}

ul.lst-kix_list_5-0 {
    list-style-type: none
}

.lst-kix_list_3-4>li:before {
    content: "o  "
}

ul.lst-kix_list_5-3 {
    list-style-type: none
}

.lst-kix_list_3-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_5-4 {
    list-style-type: none
}

ul.lst-kix_list_5-1 {
    list-style-type: none
}

.lst-kix_list_8-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_5-2 {
    list-style-type: none
}

.lst-kix_list_8-7>li:before {
    content: "o  "
}

.lst-kix_list_3-8>li:before {
    content: "\0025aa   "
}

ol.lst-kix_list_10-7.start {
    counter-reset: lst-ctn-kix_list_10-7 0
}

.lst-kix_list_8-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_13-5 {
    list-style-type: none
}

ul.lst-kix_list_13-4 {
    list-style-type: none
}

ul.lst-kix_list_13-3 {
    list-style-type: none
}

ul.lst-kix_list_13-2 {
    list-style-type: none
}

ul.lst-kix_list_13-1 {
    list-style-type: none
}

.lst-kix_list_3-7>li:before {
    content: "o  "
}

ul.lst-kix_list_13-0 {
    list-style-type: none
}

.lst-kix_list_8-4>li:before {
    content: "o  "
}

.lst-kix_list_10-2>li {
    counter-increment: lst-ctn-kix_list_10-2
}

ul.lst-kix_list_13-8 {
    list-style-type: none
}

.lst-kix_list_11-1>li:before {
    content: "o  "
}

ul.lst-kix_list_13-7 {
    list-style-type: none
}

ul.lst-kix_list_13-6 {
    list-style-type: none
}

.lst-kix_list_11-0>li:before {
    content: "\0025cf   "
}

.lst-kix_list_8-8>li:before {
    content: "\0025aa   "
}

ul.lst-kix_b0im03xy5na4-6 {
    list-style-type: none
}

.lst-kix_list_16-8>li:before {
    content: "\0025aa   "
}

ul.lst-kix_b0im03xy5na4-5 {
    list-style-type: none
}

ul.lst-kix_b0im03xy5na4-4 {
    list-style-type: none
}

.lst-kix_list_16-7>li:before {
    content: "o  "
}

ul.lst-kix_b0im03xy5na4-3 {
    list-style-type: none
}

ul.lst-kix_b0im03xy5na4-2 {
    list-style-type: none
}

ul.lst-kix_b0im03xy5na4-1 {
    list-style-type: none
}

ul.lst-kix_b0im03xy5na4-0 {
    list-style-type: none
}

.lst-kix_list_4-8>li:before {
    content: " "
}

ol.lst-kix_list_12-5 {
    list-style-type: none
}

ol.lst-kix_list_12-6 {
    list-style-type: none
}

.lst-kix_list_4-7>li:before {
    content: " "
}

ol.lst-kix_list_12-7 {
    list-style-type: none
}

.lst-kix_list_17-0>li:before {
    content: "\0025cf   "
}

ol.lst-kix_list_12-8 {
    list-style-type: none
}

ol.lst-kix_list_12-1 {
    list-style-type: none
}

ol.lst-kix_list_12-2 {
    list-style-type: none
}

ol.lst-kix_list_12-3 {
    list-style-type: none
}

ul.lst-kix_b0im03xy5na4-8 {
    list-style-type: none
}

ol.lst-kix_list_12-4 {
    list-style-type: none
}

ul.lst-kix_b0im03xy5na4-7 {
    list-style-type: none
}

ul.lst-kix_list_4-8 {
    list-style-type: none
}

.lst-kix_list_16-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_4-6 {
    list-style-type: none
}

ul.lst-kix_list_4-7 {
    list-style-type: none
}

ul.lst-kix_list_4-0 {
    list-style-type: none
}

.lst-kix_list_16-4>li:before {
    content: "o  "
}

ul.lst-kix_list_4-1 {
    list-style-type: none
}

ol.lst-kix_list_10-8.start {
    counter-reset: lst-ctn-kix_list_10-8 0
}

.lst-kix_list_16-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_4-4 {
    list-style-type: none
}

ul.lst-kix_list_4-5 {
    list-style-type: none
}

ul.lst-kix_list_4-2 {
    list-style-type: none
}

ul.lst-kix_list_4-3 {
    list-style-type: none
}

.lst-kix_list_17-7>li:before {
    content: "o  "
}

.lst-kix_list_17-8>li:before {
    content: "\0025aa   "
}

ul.lst-kix_list_12-0 {
    list-style-type: none
}

.lst-kix_list_17-3>li:before {
    content: "\0025cf   "
}

.lst-kix_list_17-4>li:before {
    content: "o  "
}

.lst-kix_list_7-0>li:before {
    content: "\0025cf   "
}

.lst-kix_list_2-4>li:before {
    content: "o  "
}

.lst-kix_list_2-8>li:before {
    content: "\0025aa   "
}

.lst-kix_list_7-3>li:before {
    content: " "
}

ul.lst-kix_list_7-5 {
    list-style-type: none
}

.lst-kix_njrk51r4ix94-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_10-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_7-6 {
    list-style-type: none
}

ul.lst-kix_list_7-3 {
    list-style-type: none
}

ul.lst-kix_list_7-4 {
    list-style-type: none
}

.lst-kix_list_13-8>li:before {
    content: "\0025a0   "
}

.lst-kix_list_18-3>li:before {
    content: "\0025cf   "
}

.lst-kix_list_18-7>li:before {
    content: "o  "
}

ul.lst-kix_list_7-7 {
    list-style-type: none
}

ul.lst-kix_list_7-8 {
    list-style-type: none
}

ul.lst-kix_list_7-1 {
    list-style-type: none
}

ul.lst-kix_list_7-2 {
    list-style-type: none
}

ul.lst-kix_list_7-0 {
    list-style-type: none
}

.lst-kix_list_7-7>li:before {
    content: " "
}

.lst-kix_ovglwwt46svl-7>li:before {
    content: "\0025cb   "
}

.lst-kix_list_15-4>li:before {
    content: "o  "
}

.lst-kix_list_10-4>li:before {
    content: "" counter(lst-ctn-kix_list_10-4, decimal) ". "
}

.lst-kix_list_10-8>li:before {
    content: "" counter(lst-ctn-kix_list_10-8, decimal) ". "
}

.lst-kix_list_4-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_15-3 {
    list-style-type: none
}

ul.lst-kix_list_15-2 {
    list-style-type: none
}

.lst-kix_list_15-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_15-1 {
    list-style-type: none
}

.lst-kix_list_15-8>li:before {
    content: "\0025aa   "
}

ul.lst-kix_list_15-0 {
    list-style-type: none
}

.lst-kix_list_4-4>li:before {
    content: " "
}

ul.lst-kix_list_15-8 {
    list-style-type: none
}

ul.lst-kix_list_15-7 {
    list-style-type: none
}

ul.lst-kix_list_15-6 {
    list-style-type: none
}

.lst-kix_list_9-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_15-5 {
    list-style-type: none
}

ul.lst-kix_list_15-4 {
    list-style-type: none
}

.lst-kix_ovglwwt46svl-3>li:before {
    content: "\0025cf   "
}

.lst-kix_list_12-8>li {
    counter-increment: lst-ctn-kix_list_12-8
}

.lst-kix_list_9-7>li:before {
    content: "o  "
}

.lst-kix_list_11-4>li:before {
    content: "o  "
}

.lst-kix_list_12-4>li:before {
    content: "" counter(lst-ctn-kix_list_12-4, decimal) ". "
}

ul.lst-kix_list_6-6 {
    list-style-type: none
}

ul.lst-kix_list_6-7 {
    list-style-type: none
}

ul.lst-kix_list_6-4 {
    list-style-type: none
}

ul.lst-kix_list_6-5 {
    list-style-type: none
}

ul.lst-kix_list_6-8 {
    list-style-type: none
}

.lst-kix_list_1-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_6-2 {
    list-style-type: none
}

.lst-kix_list_11-8>li:before {
    content: "\0025aa   "
}

.lst-kix_list_12-3>li {
    counter-increment: lst-ctn-kix_list_12-3
}

ul.lst-kix_list_6-3 {
    list-style-type: none
}

ul.lst-kix_list_6-0 {
    list-style-type: none
}

.lst-kix_list_12-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_6-1 {
    list-style-type: none
}

.lst-kix_list_1-4>li:before {
    content: "o  "
}

.lst-kix_list_13-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_14-4 {
    list-style-type: none
}

ul.lst-kix_list_14-3 {
    list-style-type: none
}

ul.lst-kix_list_14-2 {
    list-style-type: none
}

.lst-kix_list_13-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_list_14-1 {
    list-style-type: none
}

ul.lst-kix_list_14-0 {
    list-style-type: none
}

.lst-kix_list_10-7>li {
    counter-increment: lst-ctn-kix_list_10-7
}

ul.lst-kix_list_14-8 {
    list-style-type: none
}

ul.lst-kix_list_14-7 {
    list-style-type: none
}

.lst-kix_list_2-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_14-6 {
    list-style-type: none
}

ul.lst-kix_list_14-5 {
    list-style-type: none
}

.lst-kix_njrk51r4ix94-2>li:before {
    content: "\0025a0   "
}

.lst-kix_list_1-8>li:before {
    content: "\0025aa   "
}

.lst-kix_list_12-8>li:before {
    content: "" counter(lst-ctn-kix_list_12-8, decimal) ". "
}

ul.lst-kix_list_1-0 {
    list-style-type: none
}

ol.lst-kix_list_12-6.start {
    counter-reset: lst-ctn-kix_list_12-6 0
}

ul.lst-kix_list_1-3 {
    list-style-type: none
}

ul.lst-kix_list_1-4 {
    list-style-type: none
}

ul.lst-kix_list_1-1 {
    list-style-type: none
}

ul.lst-kix_list_1-2 {
    list-style-type: none
}

ul.lst-kix_list_1-7 {
    list-style-type: none
}

ul.lst-kix_list_1-8 {
    list-style-type: none
}

ul.lst-kix_list_1-5 {
    list-style-type: none
}

ul.lst-kix_list_1-6 {
    list-style-type: none
}

.lst-kix_b0im03xy5na4-8>li:before {
    content: "\0025a0   "
}

.lst-kix_b0im03xy5na4-5>li:before {
    content: "\0025a0   "
}

.lst-kix_b0im03xy5na4-4>li:before {
    content: "\0025cb   "
}

.lst-kix_b0im03xy5na4-6>li:before {
    content: "\0025cf   "
}

.lst-kix_b0im03xy5na4-3>li:before {
    content: "\0025cf   "
}

.lst-kix_b0im03xy5na4-7>li:before {
    content: "\0025cb   "
}

.lst-kix_b0im03xy5na4-1>li:before {
    content: "\0025cb   "
}

.lst-kix_b0im03xy5na4-0>li:before {
    content: "\0025cf   "
}

.lst-kix_b0im03xy5na4-2>li:before {
    content: "\0025a0   "
}

.lst-kix_list_10-3>li {
    counter-increment: lst-ctn-kix_list_10-3
}

.lst-kix_list_12-1>li {
    counter-increment: lst-ctn-kix_list_12-1
}

.lst-kix_list_18-0>li:before {
    content: "\0025cf   "
}

.lst-kix_list_18-1>li:before {
    content: "o  "
}

.lst-kix_list_18-2>li:before {
    content: "\0025aa   "
}

.lst-kix_list_2-7>li:before {
    content: "o  "
}

.lst-kix_list_2-5>li:before {
    content: "\0025aa   "
}

ol.lst-kix_list_10-3.start {
    counter-reset: lst-ctn-kix_list_10-3 0
}

.lst-kix_list_18-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_3-7 {
    list-style-type: none
}

.lst-kix_njrk51r4ix94-5>li:before {
    content: "\0025a0   "
}

.lst-kix_njrk51r4ix94-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_list_3-8 {
    list-style-type: none
}

.lst-kix_list_10-1>li:before {
    content: "" counter(lst-ctn-kix_list_10-1, decimal) ". "
}

.lst-kix_list_18-4>li:before {
    content: "o  "
}

.lst-kix_list_18-8>li:before {
    content: "\0025aa   "
}

ul.lst-kix_list_3-1 {
    list-style-type: none
}

ul.lst-kix_list_3-2 {
    list-style-type: none
}

ul.lst-kix_list_3-0 {
    list-style-type: none
}

ul.lst-kix_list_3-5 {
    list-style-type: none
}

ul.lst-kix_list_3-6 {
    list-style-type: none
}

ul.lst-kix_list_3-3 {
    list-style-type: none
}

ul.lst-kix_list_3-4 {
    list-style-type: none
}

.lst-kix_list_10-7>li:before {
    content: "" counter(lst-ctn-kix_list_10-7, decimal) ". "
}

.lst-kix_list_10-5>li:before {
    content: "" counter(lst-ctn-kix_list_10-5, decimal) ". "
}

.lst-kix_list_10-3>li:before {
    content: "" counter(lst-ctn-kix_list_10-3, decimal) ". "
}

ul.lst-kix_list_11-7 {
    list-style-type: none
}

ul.lst-kix_list_11-6 {
    list-style-type: none
}

ul.lst-kix_list_11-5 {
    list-style-type: none
}

ul.lst-kix_list_11-4 {
    list-style-type: none
}

ul.lst-kix_list_11-3 {
    list-style-type: none
}

ul.lst-kix_list_11-2 {
    list-style-type: none
}

ul.lst-kix_list_11-1 {
    list-style-type: none
}

ul.lst-kix_list_11-0 {
    list-style-type: none
}

.lst-kix_list_9-2>li:before {
    content: "\0025aa   "
}

ul.lst-kix_list_11-8 {
    list-style-type: none
}

.lst-kix_list_12-5>li {
    counter-increment: lst-ctn-kix_list_12-5
}

.lst-kix_list_9-0>li:before {
    content: "\0025cf   "
}

ol.lst-kix_list_10-7 {
    list-style-type: none
}

.lst-kix_list_9-6>li:before {
    content: "\0025cf   "
}

ol.lst-kix_list_10-8 {
    list-style-type: none
}

ol.lst-kix_list_10-3 {
    list-style-type: none
}

.lst-kix_list_9-4>li:before {
    content: "o  "
}

ol.lst-kix_list_10-4 {
    list-style-type: none
}

ol.lst-kix_list_10-5 {
    list-style-type: none
}

.lst-kix_list_11-3>li:before {
    content: "\0025cf   "
}

ol.lst-kix_list_10-6 {
    list-style-type: none
}

ol.lst-kix_list_10-1 {
    list-style-type: none
}

ul.lst-kix_list_2-8 {
    list-style-type: none
}

ol.lst-kix_list_10-2 {
    list-style-type: none
}

ol.lst-kix_list_12-1.start {
    counter-reset: lst-ctn-kix_list_12-1 0
}

.lst-kix_list_11-5>li:before {
    content: "\0025aa   "
}

ul.lst-kix_list_2-2 {
    list-style-type: none
}

ul.lst-kix_list_2-3 {
    list-style-type: none
}

ul.lst-kix_list_2-0 {
    list-style-type: none
}

ul.lst-kix_list_2-1 {
    list-style-type: none
}

.lst-kix_list_9-8>li:before {
    content: "\0025aa   "
}

ul.lst-kix_list_2-6 {
    list-style-type: none
}

.lst-kix_list_1-1>li:before {
    content: "\0025cf   "
}

ul.lst-kix_list_2-7 {
    list-style-type: none
}

.lst-kix_list_11-7>li:before {
    content: "o  "
}

ul.lst-kix_list_2-4 {
    list-style-type: none
}

ul.lst-kix_list_2-5 {
    list-style-type: none
}

ul.lst-kix_list_10-0 {
    list-style-type: none
}

.lst-kix_list_1-3>li:before {
    content: "\0025cf   "
}

ol.lst-kix_list_10-5.start {
    counter-reset: lst-ctn-kix_list_10-5 0
}

.lst-kix_list_1-7>li:before {
    content: "o  "
}

.lst-kix_njrk51r4ix94-3>li:before {
    content: "\0025cf   "
}

.lst-kix_list_1-5>li:before {
    content: "\0025aa   "
}

.lst-kix_list_2-1>li:before {
    content: "o  "
}

.lst-kix_list_2-3>li:before {
    content: "\0025cf   "
}

.lst-kix_njrk51r4ix94-1>li:before {
    content: "\0025cb   "
}

.lst-kix_list_3-1>li:before {
    content: "o  "
}

.lst-kix_list_3-2>li:before {
    content: "\0025aa   "
}

.lst-kix_list_8-1>li:before {
    content: "o  "
}

.lst-kix_list_8-2>li:before {
    content: "\0025aa   "
}

.lst-kix_list_3-5>li:before {
    content: "\0025aa   "
}

ol.lst-kix_list_12-3.start {
    counter-reset: lst-ctn-kix_list_12-3 0
}

.lst-kix_list_8-5>li:before {
    content: "\0025aa   "
}

.lst-kix_list_8-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_3-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_11-2>li:before {
    content: "\0025aa   "
}

ul.lst-kix_njrk51r4ix94-6 {
    list-style-type: none
}

ul.lst-kix_njrk51r4ix94-7 {
    list-style-type: none
}

ul.lst-kix_njrk51r4ix94-4 {
    list-style-type: none
}

ul.lst-kix_njrk51r4ix94-5 {
    list-style-type: none
}

ul.lst-kix_njrk51r4ix94-8 {
    list-style-type: none
}

ol.lst-kix_list_12-4.start {
    counter-reset: lst-ctn-kix_list_12-4 0
}

ul.lst-kix_njrk51r4ix94-2 {
    list-style-type: none
}

.lst-kix_list_16-6>li:before {
    content: "\0025cf   "
}

ol.lst-kix_list_10-1.start {
    counter-reset: lst-ctn-kix_list_10-1 0
}

ul.lst-kix_njrk51r4ix94-3 {
    list-style-type: none
}

ul.lst-kix_njrk51r4ix94-0 {
    list-style-type: none
}

ul.lst-kix_njrk51r4ix94-1 {
    list-style-type: none
}

.lst-kix_list_17-1>li:before {
    content: "o  "
}

.lst-kix_list_16-1>li:before {
    content: "o  "
}

.lst-kix_list_16-2>li:before {
    content: "\0025aa   "
}

.lst-kix_list_16-5>li:before {
    content: "\0025aa   "
}

.lst-kix_list_12-4>li {
    counter-increment: lst-ctn-kix_list_12-4
}

ol.lst-kix_list_10-2.start {
    counter-reset: lst-ctn-kix_list_10-2 0
}

.lst-kix_list_12-7>li {
    counter-increment: lst-ctn-kix_list_12-7
}

.lst-kix_list_17-2>li:before {
    content: "\0025aa   "
}

.lst-kix_list_17-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_17-5>li:before {
    content: "\0025aa   "
}

.lst-kix_list_2-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_7-1>li:before {
    content: " "
}

.lst-kix_list_7-5>li:before {
    content: " "
}

.lst-kix_list_18-5>li:before {
    content: "\0025aa   "
}

.lst-kix_list_13-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_10-6>li {
    counter-increment: lst-ctn-kix_list_10-6
}

.lst-kix_njrk51r4ix94-8>li:before {
    content: "\0025a0   "
}

.lst-kix_list_15-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_10-2>li:before {
    content: "" counter(lst-ctn-kix_list_10-2, decimal) ". "
}

ul.lst-kix_ovglwwt46svl-7 {
    list-style-type: none
}

ul.lst-kix_ovglwwt46svl-6 {
    list-style-type: none
}

.lst-kix_ovglwwt46svl-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_ovglwwt46svl-8 {
    list-style-type: none
}

.lst-kix_list_4-2>li:before {
    content: " "
}

.lst-kix_list_4-6>li:before {
    content: " "
}

ul.lst-kix_ovglwwt46svl-3 {
    list-style-type: none
}

ul.lst-kix_ovglwwt46svl-2 {
    list-style-type: none
}

ul.lst-kix_ovglwwt46svl-5 {
    list-style-type: none
}

ul.lst-kix_ovglwwt46svl-4 {
    list-style-type: none
}

.lst-kix_ovglwwt46svl-5>li:before {
    content: "\0025a0   "
}

.lst-kix_list_15-2>li:before {
    content: "\0025aa   "
}

.lst-kix_list_10-8>li {
    counter-increment: lst-ctn-kix_list_10-8
}

.lst-kix_list_10-6>li:before {
    content: "" counter(lst-ctn-kix_list_10-6, decimal) ". "
}

.lst-kix_list_9-1>li:before {
    content: "\0025cf   "
}

ol.lst-kix_list_12-7.start {
    counter-reset: lst-ctn-kix_list_12-7 0
}

.lst-kix_list_12-2>li {
    counter-increment: lst-ctn-kix_list_12-2
}

ul.lst-kix_ovglwwt46svl-1 {
    list-style-type: none
}

ul.lst-kix_ovglwwt46svl-0 {
    list-style-type: none
}

.lst-kix_list_9-5>li:before {
    content: "\0025aa   "
}

.lst-kix_list_12-2>li:before {
    content: "" counter(lst-ctn-kix_list_12-2, decimal) ". "
}

ol.lst-kix_list_12-8.start {
    counter-reset: lst-ctn-kix_list_12-8 0
}

.lst-kix_list_11-6>li:before {
    content: "\0025cf   "
}

.lst-kix_list_1-2>li:before {
    content: "\0025aa   "
}

.lst-kix_list_10-1>li {
    counter-increment: lst-ctn-kix_list_10-1
}

.lst-kix_njrk51r4ix94-4>li:before {
    content: "\0025cb   "
}

.lst-kix_list_1-6>li:before {
    content: "\0025cf   "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_list_12-6>li:before {
    content: "" counter(lst-ctn-kix_list_12-6, decimal) ". "
}

.lst-kix_list_2-2>li:before {
    content: "\0025aa   "
}

.lst-kix_list_13-2>li:before {
    content: "\0025a0   "
}

.lst-kix_njrk51r4ix94-0>li:before {
    content: "\0025cf   "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c13 {
    margin-left: 36pt;
    padding-top: 0pt;
    text-indent: -18pt;
    padding-bottom: 4pt;
    line-height: 1.25;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 10pt
}

.c28 {
    margin-left: 36pt;
    padding-top: 0pt;
    text-indent: -18pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c17 {
    margin-left: 36pt;
    padding-top: 0pt;
    text-indent: -18pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 10pt
}

.c14 {
    margin-left: 36pt;
    padding-top: 0pt;
    text-indent: -18pt;
    padding-bottom: 4pt;
    line-height: 1.25;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c8 {
    padding-top: 0pt;
    text-indent: 18pt;
    padding-bottom: 0pt;
    line-height: 1.25;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c6 {
    margin-left: 36pt;
    padding-top: 10pt;
    text-indent: -18pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c18 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c35 {
    margin-left: 18pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.25;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c2 {
    margin-left: 36pt;
    padding-top: 0pt;
    text-indent: -18pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c7 {
    color: #434343;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Lato";
    font-style: normal
}

.c23 {
    margin-left: 18pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c26 {
    margin-left: 18pt;
    padding-top: 0pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 10pt
}

.c30 {
    -webkit-text-decoration-skip: none;
    color: #6b6b6b;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-family: "Lato";
    font-style: normal
}

.c34 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c31 {
    padding-top: 0pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c9 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-style: normal
}

.c4 {
    font-family: "Lato";
    font-style: italic;
    color: #434343;
    font-weight: 700
}

.c38 {
    color: #6b6b6b;
    font-weight: 400;
    font-family: "Lato"
}

.c20 {
    text-decoration: none;
    font-size: 10pt;
    font-style: italic
}

.c37 {
    color: #000000;
    font-weight: 400;
    font-family: "Times New Roman"
}

.c15 {
    color: #ff0000;
    font-weight: 400;
    font-family: "Lato"
}

.c32 {
    color: #000000;
    font-weight: 400;
    font-family: "Lato"
}

.c25 {
    text-decoration: none;
    font-family: "Lato";
    font-style: normal
}

.c1 {
    font-family: "Lato";
    color: #434343;
    font-weight: 400
}

.c39 {
    background-color: #ffffff;
    max-width: 496.8pt;
    padding: 21.6pt 57.6pt 14.4pt 57.6pt
}

.c33 {
    margin-left: 72pt;
    padding-left: 0pt
}

.c3 {
    padding: 0;
    margin: 0
}

.c11 {
    color: #434343;
    font-style: italic
}

.c24 {
    font-size: 25pt;
    color: #741b47
}

.c10 {
    color: #434343;
    font-size: 10pt
}

.c27 {
    font-size: 25pt
}

.c22 {
    font-size: 10pt
}

.c12 {
    font-weight: 700
}

.c29 {
    height: 10pt
}

.c16 {
    color: #434343
}

.c36 {
    margin-left: 36pt
}

.c19 {
    vertical-align: baseline
}

.c21 {
    font-style: italic
}

.title {
    padding-top: 24pt;
    color: #999999;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Lato";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #999999;
    font-size: 10pt;
    font-family: "Lato"
}

p {
    margin: 0;
    color: #999999;
    font-size: 10pt;
    font-family: "Lato"
}

h1 {
    padding-top: 24pt;
    color: #999999;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 6pt;
    font-family: "Lato";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 0pt;
    color: #999999;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 4pt;
    font-family: "Lato";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 0pt;
    color: #999999;
    font-weight: 700;
    font-size: 9pt;
    padding-bottom: 0pt;
    font-family: "Lato";
    line-height: 1.25;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 0pt;
    color: #741b47;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 4pt;
    font-family: "Lato";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 11pt;
    color: #999999;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Lato";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 10pt;
    color: #999999;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Lato";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
